  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .nojs{
	  display: none;
  }
  body {
    width: 100vw;
    height: 100vh;
  }
  #heading {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 600px;
  }
  main {
    padding: 1rem;
  }
  table,th,td{
	  border: 1px solid;
  }
  th, td{
	  padding: 0.25rem;
  }
  table {
	  text-align: left;
	  margin-top: 2rem;
	  border-collapse: collapse;
	  width: 100%;
  }
  tr:nth-child(even) {
	  background-color: #f2f2f2;
  }